* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
}



/**/

nav {
    flex: 1 0 auto;
    max-width: 300px;
    height: 100%;
    background-color: gray;
}

main {
    flex: 1;
    height: 100%;
}

iframe {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
}

@media only screen and (max-width: 768px) {
    body {
        flex-direction: column-reverse;
        height: initial;
    }

    nav {
        max-width: initial;
        height: initial;
    }

    main {
        flex: 0 1 auto;
        min-height: 600px;
    }

    iframe {
        height: 600px;
    }

}

/**/

h1 {
    margin-block: 0.67em;
    font-size: 2em;
}

[tooltip]::after {
    content: attr(tooltip);
    display: block;
    position: absolute;
    background-color: white;
    padding: 0.5em;
    opacity: 0;
    pointer-events: none;
}

[tooltip]:hover::after {
    opacity: 1;
}