{
    "title": "Roborb's Robortdeal",
    "description": "3 days. 4 timezones. 1 dream. <small>0 name ideas.</small>",
    "date": "2000-01-01",
    "sections": [
        # { "client": "you" },
        { "roles": [ "3D Art" ] },
        { "tags": [ "Blender", "Godot" ] },
        { "gallery": [
            { "img": "img/roborb-1.jpg", },
            { "img": "img/roborb-2.jpg", },
        ]},
        { "gallery": [
            { "img": "img/roborb-environment.png", },
            { "img": "img/roborb-ground.png", },
            { "img": "img/roborb-trash.png", },
            { "img": "img/roborb-forcepush.png", },
        ]}
    ]
}
{% extends "article.html" %}
{% block content %}
{% endblock %}