{
    "title": "colophon",
    "description": "",
    "date": "2025-11-09T00:00:00+11:00",
}
{% extends "article.html" %}

{% block content %}
<section>
    <p>this website is my personal hate letter to the modern web.</p>
    <p>i do not want a website that moves. i do not want fades. i do not want pulldowns. i do not want scrolling
        animations. you would think as an animator i would enjoy these things, but the line between form and function
        has long been crossed. i enable 'reduced motion' on my devices if the option is enabled. that's
        how bad it is.</p>
    <p>i just want a webpage that shows me what i want to see. that is my goal for this website: a portfolio that
        quickly and reliably shows you the shit you came here for.</p>
</section>
<section>
    <h2>technologies</h2>
    <p>most of the site is hand-written. Jinja2 is used to avoid copy-pasting the same &lt;head&gt; element with minor 
        differences to every page.</p>
    <p>the site is hosted with Cloudflare Workers. the documentation for their static site solution is a bit lacking and
        you can tell it's kind of a shoe-in to try and deprecate Cloudflare Pages. but it works well enough, and it's
        free. for now, at least.</p>
    <p>javascript is minimal. the site functions without it.</p>
    <p><a href="https://github.com/harpyfox/vulpineonline">github</a> is used for version control. it deploys automatically
        when a push is made to the repository.
        isn't that nice.</p>
</section>
<section>
    <h2>inspirations</h2>
    <ul>
        <li><a href="https://maxbo.me/">maxbo.me</a></li>
        <li><a href="https://s-i-l-o.fr/">s-i-l-o.fr</a></li>
        <li><a href="https://john-doe.neocities.org/">john-doe.neocities.org</a></li>
    </ul>
</section>
<section>
    <h2>graphics</h2>
    <p>some of the sites used to source graphics include:</p>
    <ul>
        <li><a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"></a></li>
        <li><a href="https://controlcoreangel.neocities.org/"><img src="https://controlcoreangel.neocities.org/images/cca%20neocities%20button.gif"></a></li>
        <li><a href="https://win98icons.alexmeub.com/">win98icons.alexmeub.com</a></li>

    </ul>
</section>
<section>
    <h2>tools and things</h2>
    <ul>
        <li><a href="https://validator.w3.org/nu/">HTML5 Validator</a></li>
        <li><a href="https://search.google.com/test/rich-results">Rich Results</a></li>
        <li><a href="developers.google.com/search/docs/crawling-indexing/sitemaps/video-sitemaps">video sitemaps - google delvepers</a></li>
    </ul>
</section>
{% endblock %}