{
    "title": "Haunted Holdout",
    "description": "3-day game jam with topic \"vision\"",
    "date": "2025-07-01",
    "tags": [ "Art", "Blender", "Unity", "Web" ],
    "image": "img/haunted-background.png",
    "icon": "img/haunted-icon.png",

    "client": "Myself!!!!!",
    "roles": [ "Solo" ],
}
{% extends "post-project.html.j2" %}
{% block content %}
{{ super() }}

{{ macros.figure_video("img/haunted-gameplay.mp4") }}
<div class="big">
    {{ macros.figure_video("img/haunted-anims.mp4") }}
    {{ macros.figure_img("img/haunted-characters.jpg") }}
</div>
{{ macros.figure_img("img/haunted-1.jpg") }}

<a class="big" href="https://harpyfox.itch.io/haunted-holdout" target="_blank" rel="noreferrer">
    <img src="{{ icon }}" class="favicon">
    <span>Haunted Holdout</span>
    <span>on itch.io</span>
</a>

{% endblock %}

