{
    "title": "Kaiju Golf",
    "description": "Commissioned project for Google's Fitbit Ace LTE smartwatch",
    "date": "2000-01-01",
    "tags": [ "Blender", "Unity", "Android" ],

    "client": "Google",
    "roles": [ "Animation", "Technical Art", "Programming" ],
}
{% extends "post-project.html.j2" %}
{% block content %}
{{ super() }}
<section class="gallery" >
    <figure><video class="squircle" src="img/kaiju-showcase.mp4" preload="none" poster="../img/mediaplayer48.png"></figure>
    <figure class="card">
        <p>[TODO] more footage than a single lonely video</p>
    </figure>
</section>
{% endblock %}
