[project]
name = "vulpineonline"
version = "2.0.0"
description = ""
readme = "README.md"
requires-python = ">=3.14"
dependencies = []
[dependency-groups]
dev = [
    "jinja2>=3.1.6",
    "workers-py",
    "workers-runtime-sdk",
]
