{
    "title": "Unreal/Spine Demo",
    "description": "Top-down testing ground to practice new tools",
    "date": "2000-01-01",
    "sections": [
        { "client": "hahahaha." },
        { "roles": [ "Solo" ], },
        { "tags": [ "Unreal Engine", "Spine 2D" ] },
        { "gallery": [
            { "video": "img/spine-cannonsmaller.webm", },
            { "video": "img/spine-debugdog.mp4", },
            { "img": "img/spine-runloop.gif", },
            { "video": "img/spine-clip.mp4", },
        ]},
    ]
}
{% extends "article.html" %}

{% block content %}
<section>
    <p>fun fact: i primarily made this for a job attempt to show that i can use Unreal Engine 
        and Spine 2D. they held 2 interviews with me that were "very promising" (their words), 
        then waited 4 months to tell me i didn't get the job.</p>
</section>
{% endblock %}