{
    "title": "Wolf Game",
    "description": "Vertical slice third person hack-n-slash",
    "date": "2000-01-01",
    "sections": [
        # { "client": "Myself!!!!"},
        { "roles": [ "Solo" ], },
        { "tags": [ "Blender", "Unity" ] },
        { "gallery": [
            { "video": "img/hsalpha-animshowcase.mp4", },
            { "video": "img/hsalpha-sprintlean.mp4", },
            { "video": "img/hsalpha-gameplay.mp4", },
            { "video": "img/hsalpha-walljump.mp4", },
        ]},
        { "gallery": [
            { "img": "img/hsalpha-groundattacks.gif", },
            { "img": "img/hsalpha-dead.gif", },
            { "img": "img/hsalpha-jogloop.gif", },
            { "img": "img/hsalpha-sprintloop.gif", },
            { "img": "img/hsalpha-sprintkick.gif", },
        ]},
        { "gallery": [
            { "img": "img/hsalpha-hp.gif", },
            { "img": "img/hsalpha-ui.png", },
            { "img": "img/hsalpha-bodyfront.png", },
            { "img": "img/hsalpha-bodyback.png", },
            { "img": "img/hsalpha-brackeys.png", },
            { "img": "img/hsalpha-basketball.png", },
        ]},
    ]
}
{% extends "article.html" %}