{
    "title": "Pollo 13: Space Race",
    "description": "Commissioned project for Google's Fitbit Ace LTE smartwatch",
    "date": "2000-01-01",
    "sections": [
        {"client": "Google"},
        { "roles": [ "Animation Lead", "Technical Art", "Programming" ], },
        { "tags": [ "Blender", "Unity", "Android" ] },
        { "gallery": [
            { "video": "img/pollo-showcase.mp4", "class": "squircle", },
            { "video": "img/pollo-chickenselect.mp4", "class": "squircle", },
            { "video": "img/pollo-anims.webm", "class": "squircle", },
            { "video": "img/pollo-blendtree.webm", "class": "squircle", },
            { "img": "img/pollo-tubbe.gif", "class": "squircle", },
            { "video": "img/pollo-tub.mp4", "class": "squircle", },
            { "video": "img/pollo-foxytut.mp4", "class": "squircle", },
            { "img": "img/pollo-foxypot.png", "class": "squircle", },
            { "video": "img/pollo-dither.webm", "class": "squircle", },
            { "video": "img/pollo-ship.mp4", "class": "squircle", },
            { "img": "img/pollo-foxyalert.gif", "class": "squircle", },
            { "video": "img/pollo-liftoff.webm", "class": "squircle", },
        ]},
    ]
}
{% extends "article.html" %}
