{
    "title": "Rune Witch Academy",
    "description": "Commissioned project for Google's Fitbit Ace LTE smartwatch",
    "date": "2000-01-01",
    "sections": [
        { "client": "Google" },
        { "roles": [ "Technical Art", "VFX Art", "Programming" ] },
        { "tags": [ "Blender", "Unity", "Android" ] },
        { "gallery": 
            [
                { "video": "img/witch-grimoire.webm", "class": "squircle", },
                { "video": "img/witch-palettes.webm", "class": "squircle", "caption": "runtime vector sprite recolouring", },
                { "img": "img/witch-biomes.gif", "class": "squircle", },
                { "img": "img/witch-ambermeadows.gif", "class": "squircle", "caption": "dynamic weather effects", },
                { "video": "img/witch-door.webm", "class": "squircle", },
                { "img": "img/witch-portraitsystem.png", },
                { "video": "img/witch-portraitvid.webm", "class": "squircle", },
                { "img": "img/witch-dialogue.png", "class": "squircle", },
                { "img": "img/witch-pann.gif", "class": "squircle", "caption": "character portrait effects", },
                { "img": "img/witch-portraitfx.png", },
                { "img": "img/witch-repair.gif", "class": "squircle", "caption": "spell VFX: Repair", },
                { "img": "img/witch-growshrink.gif", "class": "squircle", "caption": "spell VFX: Grow/Shrink", },
                { "img": "img/witch-translate.gif", "class": "squircle", "caption": "spell VFX: Translate", },
                { "img": "img/witch-gameflows.png", },
                { "img": "img/witch-wakeuppann.png", },
            ]
        }
    ],
}
{% extends "article.html" %}

{% block content %}
{% endblock %}