{
    "title": "Haunted Holdout",
    "description": "3-day Game Jam with topic \"vision\"",
    "date": "2000-01-01",
    "sections": [
        # { "client": "Myself!!!!"},
        { "roles": [ "Solo" ], },
        { "tags": [ "Blender", "Unity", "Web" ] },
        { "gallery": [
            { "img": "img/haunted-background.png" },
            { "img": "img/haunted-1.jpg" },
        ]},
        { "gallery": [
            { "video": "img/haunted-gameplay.mp4" }
        ]},
        { "gallery": [
            { "img": "img/haunted-characters.jpg" },
            { "video": "img/haunted-anims.mp4" }
        ]},
    ]
}
{% extends "article.html" %}
{% block content %}
<section>
    <a class="biglink" href="https://harpyfox.itch.io/haunted-holdout" target="_blank" rel="noreferrer">
        <img src="img/haunted-icon.png" class="icon96">
        <h4>Haunted Holdout</h4>
        <p>on itch.io</p>
    </a>
</section>
{% endblock %}