@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms_sans_serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms_sans_serif_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
    overflow-y: auto;
    ul {
        display: grid;
        grid-template-columns: 1fr;
    }
}
main {
    grid-area: main;
}
main > section {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}
.accordion {
    height: 10ch;
}
article,
figure {
    position: relative;
}
.card {
    display: block flex;
    flex-direction: column;
}
footer {
    grid-area: footer;
    display: block grid;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
}

img,
picture,
video,
canvas,
svg {
    display: block;
    height: 100%;
    max-height: 20ch;
}
[class*="icon"] {
    display: inline flow-root;
    vertical-align: middle;
    &[class="favicon"] {
        width: 1em;
        height: 1em;
        object-fit: contain;
        +* {
            margin-left:4px;
        }
    }
    &[class*="16"] {
        width: 16px;
        height: 16px;
    }
    &[class*="32"] {
        width: 32px;
        height: 32px;
    }
    &[class*="96"] {
        width: 96px;
        height: 96px;
    }
}
.button {
    border: none;
    width: 88px;
    height: 31px;
}