@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms_sans_serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("fonts/ms_sans_serif_bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

:root {
    color-scheme: dark;

    --color-border: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.25));
    --bg-primary: light-dark(whitesmoke, #232323);
    --color-primary: light-dark(black, #ededed);
    --color-interactive: light-dark(blue, rgb(255, 166, 0));
    --color-interactive-hover: light-dark(rgb(53, 93, 255), color(display-p3 1 0 1));
    --color-interactive-active: light-dark(purple, white);
    --header-height: 42px;


    --border: 1px var(--color-border) solid;
}

/* reset */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html {
    font-family: Inter, sans-serif;
    font-variant-numeric: tabular-nums;
    image-rendering: pixelated;

    transition-behavior: allow-discrete;
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
body {
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
}
img, 
picture, 
video, 
canvas, 
svg {
    display: block flow;
    max-width: 100%;
    height: revert;
    max-height: revert;
}
input, 
button, 
textarea, 
select {
    font: inherit;
}
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    overflow-wrap: break-word;
}
output {
    font: 12px monospace;
    background-color: #11111191;
    dl {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
header {
    grid-area: header;
    position: sticky;
    top: 0px;
    z-index: 50;
    height: var(--header-height);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 4px;
    gap: 4px;
}
nav {
    grid-area: nav;
    overflow-y: auto;
    position: sticky;
    z-index: 25;
    top: var(--header-height);
    max-height: calc(100vh - var(--header-height));
    padding: 4px;
    menu {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        gap: 4px;
        list-style-type: none;
        align-items: center;
        li {
            padding: 0;
            * {
                vertical-align: middle;
            }
            a {
                display: inline flow-root;
                width: 100%;
                padding: 0.5ch;
            }
        }
    }
}
main {
    grid-area: main;
    display: flex;
    flex-flow: column nowrap;
    padding: 4px;
    gap: 4px;
}
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}
h2 {
    padding: 4px;
}
article,
figure {
    position: relative;
}
article {
    background: 0% center/cover no-repeat;
}
time {
    /* font-variant-numeric: normal; */
}
figcaption {
    position: absolute;
    bottom: 0px;
    text-align: center;
    line-height: initial;
    background-color: #11111191;
    width: 100%;
}
aside {
    padding: 8px;
    text-align: center;
}
blockquote>p::before {
    content: open-quote;
}
blockquote>p::after {
    content: close-quote;
}
blockquote~* {
    font-size: smaller;
}
footer {
    grid-area: footer;
    display: block grid;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
    z-index: 50;
}

/* blocks */
.gallery {
    display: block grid;
    grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
    gap: 4px;
    padding: 4px;
}
.card {
    display: block flex;
    flex-direction: column;
    h3, p, time {
        margin: 4px;
    }
    h3 {
        display: inline flow-root;
        vertical-align: middle;
    }
    time {
        margin-top: auto;
    }
}
.table {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: min-content;
    align-content: space-around;
    line-height: initial;
    gap: 4px;
    h4 {
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        font-stretch: condensed;
    }
    ul {
        padding: 0;
        list-style-type: none;
        align-content: center;
    }
}
details[name="project"] {
    scroll-margin-block-start: calc(var(--header-height) + 4px);
    summary {
        display: contents;
    }
}
.accordion {
    background: 0% 10%/cover no-repeat;
    height: 10ch;
    cursor: pointer;
    padding: 8px;
    text-align: center;
    img {
        filter: drop-shadow(2px 2px 0px black);
    }
}
.annex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    h3, p, time {
        margin: 0;
    }
    div {
        margin-top: 4px;
    }
    article {
        padding: 0 4px 4px 4px;
    }
}
.changelog {
    font-size: smaller;
    line-height: initial;
    summary > h3 {
        display: inline;
    }
    summary ~ * {
        font-size: smaller;
    }
    > h3 {
        margin-top: 4px;
    }
    ul {
        list-style-type: square;
        padding-left: 16px;
    }
}
#viewer {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: zoom-out;
    img, video {
        max-width: 100%;
        max-height: 100%;
        min-width: 0px;
        min-height: 0px;
        object-fit: contain;
    }
    figcaption {
        position: initial;
        width: initial;
        background-color: initial;
    }
}

/* utilities */
.contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.square {
    aspect-ratio: 1/1;
    width: 100%;
}
.squircle {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    mask: url("img/squircle.png") center/cover no-repeat;
}
[class*="icon"] {
    display: inline flow-root;
    vertical-align: middle;
    &[class="favicon"] {
        /* width: 1rem; */ width: 1.5rem;
        /* height: 1rem; */ height: 1.5rem;
        object-fit: contain;
        margin-right: 4px;
    }
    &[class*="16"] {
        width: 16px;
        height: 16px;
    }
    &[class*=24] {
        width: 24px;
        height: 24px;
    }
    &[class*="32"] {
        width: 32px;
        height: 32px;
    }
    &[class*="96"] {
        width: 96px;
        height: 96px;
    }
}
.button {
    border: none;
    width: 88px;
    height: 31px;
}
.badge {
    position: absolute;
    top: 4px;
    right: 4px;
    pointer-events: none;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
}
.vertical {
    writing-mode: sideways-lr;
    line-height: initial;
}
ul.horizontal li {
    display: inline flow-root list-item;
}
ul.horizontal img {
    display: inline flow-root;
    max-width: 32px;
    vertical-align: middle;
}
a.biglink {
    font-family: "Tahoma", sans-serif;
    position: relative;
    display: block flex;
    flex-direction: column;
    place-items: center;
    margin: auto;
    width: fit-content;
    padding: 8px;
    /* border: var(--theme-border-style); */
    h4 {
        text-shadow: 2px 2px 1px #000000;
    }
}
a.biglink::before {
    image-rendering: pixelated;
    content: url("img/shortcut32.png");
    display: inherit;
    position: absolute;
    width: 96px;
    height: 96px;
}

/* colors */
html {
    color: var(--color-primary);
    background-color: var(--bg-primary);
}
header {
    background-color: var(--bg-primary);
    border-bottom: var(--border);
}
nav > menu > li {
    /* border: var(--border); */
    background-color: #2b2b2b;
}
section {
    background-color: #424242;
}
article {
    background-color: #595959;
}
h2 {
    background-color: #383838;
}
time { 
    color: var(--color-border);
}
a, a > *, a:visited, a:visited > * { 
    color: var(--color-interactive); 
    text-decoration: none;
}
a:hover, a:hover > * { 
    color: var(--color-interactive-hover);
    text-decoration: underline;
}
a:active, a:active > * { 
    color: var(--color-interactive-active); 
}
.card {
    /* border: var(--border); */
}
details[name="project"] {
    border: var(--border);
}


@media (max-width: 640px) {
    body {
        display: initial;
    }
    nav {
        position: initial;
        ul {
            grid-template-columns: 1fr 1fr;
        }
    }
    main {
        /* padding-right: 0px; */
    }
    .annex {
        grid-template-columns: 1fr;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .wide {
        grid-column: span 1;
    }
}