{
    "title": "Zoo Haven",
    "description": "Commissioned project for Google's Fitbit Ace LTE smartwatch",
    "date": "2000-01-01",
    "tags": [ "Blender", "Unity", "Android" ],

    "client": "Google",
    "roles": [ "Animation", "Technical Artist", "Programmer" ],
}
{% extends "post-project.html.j2" %}
{% block content %}
{{ super() }}
<section class="gallery">
    <figure><video class="squircle" src="img/zoo-animalbox.mp4" preload="none" poster="../img/mediaplayer48.png"></video></figure>
    <figure><img class="squircle" src="img/asdfghj" loading="lazy"></figure>   
</section>
{% endblock %}