{
    "title": "Zoo Haven",
    "description": "animal-themed city sim for Google's Fitbit Ace LTE",
    "date": "2024-12-01",
    "tags": [ "Art-Unreleased", "Blender", "Unity", "Android" ],
    "image": "img/zoo-map.png",

    "client": "Google",
    "roles": [ "Animation", "Technical Artist", "Programmer" ],
}
{% extends "post-project.html.j2" %}
{% block content %}
{{ super() }}
<section class="gallery">
    <figure><video class="squircle" src="img/zoo-animalbox.mp4" preload="none" poster="../img/mediaplayer48.png"></video></figure>
    <figure><img class="squircle" src="img/asdfghj" loading="lazy"></figure>   
</section>
{% endblock %}