{
    "title": "Super Kaiju Golf",
    "description": "Commissioned project for Google's Fitbit Ace LTE smartwatch",
    "date": "2000-01-01",
    "sections": [
        { "client": "Google"},
        { "roles": [ "Animation", "Technical Art", "Programming" ], },
        { "tags": [ "Blender", "Unity", "Android" ] },
        { "gallery": [
            { "video": "img/kaiju-showcase.mp4", "class": "squircle" },
        ]},
    ]
}
{% extends "article.html" %}
{% block content %}
<section>
    <p>[TODO] more footage than a single lonely video</p>
</section>
{% endblock %}