{
    "title": "VULPINE ONLINE",
    "description": "This website",
    "date": "2025-08-29",
    "tags": [ "Dev", "Tag 1", "Tag 2", "Looooooooong tag"],
    "image": "/thumbnail.webp",



}
{% extends "post.html.j2" %}
{% block head %}
{{ super() }}
<!-- winxp -->

{% endblock %}
{% block content %}
{{ super() }}
<section id="site">
    <h3>About this site</h3>
    <p>VULPINE ONLINE is my portfolio website. you're looking at it right now!</p>
    <p>this site is entirely hand-written. Jinja2 is used to avoid copy-pasting the same <code>&lt;head&gt;</code> element to every page.</p>
    <p>this site is hosted with Cloudflare Workers. the documentation for their static site solution is a bit lacking, and
        you can tell it's kind of a shoe-in to try and deprecate Cloudflare Pages. but it works well enough, and it's
        free. for now, at least.</p>
    <p>javascript is minimal. the site functions without it.</p>
    <p><a href="https://github.com/harpyfox/vulpineonline">github</a> is used for version control. it deploys automatically
        when a push is made to the repository.<br>
        isn't that nice.</p>
</section>

<section>
    <h3>Reference</h3>

{% set samples = [
(
"inline code", 
"<p>
    your first program was probably <code>hello-world.py</code>.
</p>"
),

(
"block code",
"<figure>
    <pre>
def hello_world():
print(\"Hello World!\")
    </pre>
</figure>"
),

(
"inline quote",
"<p>
    harper said she's gonna <q>kick your ass</q>.
</p>"
),

(
"block quote",
"<figure>
    <blockquote>
        i'm gonna kick your ass.
    </blockquote>
    <figcaption>
        <cite>harper</cite>, apparently
    </figcaption>
</figure>"
),

(
"heading",
"<ul>
    <li>
        <h1><span>h1:</span> <span>xx-large</span></h1>
    </li>
    <li><h2>h2: x-large</h2></li>
    <li><h3>h3: large</h3></li>
    <li><h4>h4: medium</h4></li>
    <li><h5>h5: small</h5></li>
    <li><h6>h6: xx-small</h6></li>
</ul>"
),

(
""
)


]%}

    <figure>
        <table>
            <thead>
                <tr>
                    <th>element</th>
                    <td>example</td>
                    <td>result</td>
                </tr>
            </thead>
            <tbody>
                {% for sample in samples %}
                <tr>
                    <th>{{ sample[0] }}</th>
                    <td><pre>{{ sample[1]|e }}</pre></td>
                    <td>{{ sample[1] }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </figure>

</section>

<section id="links">
    <h3>Links</h3>
    <figure>
        <blockquote cite="https://dis.engineering/links/">
            older webpages would include a “Links” page to give you a jumping off point for your continued web-surfing
            adventures.
            Please peruse these loosely related links in the spirit of the old internet.
        </blockquote>
        <figcaption><cite>disengineering</cite></figcaption>
    </figure>
    
    
    <ul>
        <li><a href="https://maxbo.me/">maxbo.me</a></li>
        <li><a href="https://s-i-l-o.fr/">s-i-l-o.fr</a></li>
        <li><a href="https://john-doe.neocities.org/">john-doe.neocities.org</a></li>
        <li><a href="https://invisible-island.net/">invisible-island</a></li>
        <li><a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"></a></li>
        <li><a href="https://controlcoreangel.neocities.org/"><img src="https://controlcoreangel.neocities.org/images/cca%20neocities%20button.gif"></a></li>
        <li><a href="https://win98icons.alexmeub.com/">win98icons.alexmeub.com</a></li>
        <li><a href="https://validator.w3.org/nu/">HTML5 Validator</a></li>
        <li><a href="https://search.google.com/test/rich-results">Rich Results</a></li>
        <li><a href="developers.google.com/search/docs/crawling-indexing/sitemaps/video-sitemaps">video sitemaps - google delvepers</a></li>
        <li><a href="https://16colo.rs">16colo.rs</a></li>
        <li><a href="https://16colo.rs/artist/squidgalator2">SQ2 squidgalator2</a></li>
        <li><a href="https://16colo.rs/artist/delicious">DEL delicious/euphoria</a></li>
        <li><a href="https://16colo.rs/artist/asylum">AY  asylum</a></li>
    </ul>
</section>
<section id="changelog">
    <h3>Changelog</h3>
    <details>
        <summary>
            <h3>1.4.8</h3>
            <ul>
                <li>Orange</li>
                <li>made small things bigger yipee</li>
                <li>style updates</li>
            </ul>
            <time>11<sup>th</sup> November 2025</time>
        </summary>
        <h3>1.4.7</h3>
        <ul>
            <li>add charachnid</li>
            <li>employment and education sections</li>
            <li>style updates</li>
        </ul>
        <time>10<sup>th</sup> November 2025</time>
        <h3>1.4.6</h3>
        <ul>
            <li>site is now 100% operational in noscript mode. please enable media elements to see videos though, since most of my work here is in mp4 format.</li>
        </ul>
        <time>7<sup>th</sup> September 2025</time>
        <h3>1.4.5</h3>
        <ul>
            <li>lots of optimizations</li>
            <li>flattened style hierarchy a bit</li>
            <li>fix viewer misbehaving on mobile</li>
        </ul>
        <time>6<sup>th</sup> September 2025</time>
        <h3>1.4.4</h3>
        <ul>
            <li>massively improve load times</li>
        </ul>
        <h3>1.4.3</h3>
        <ul>
            <li>ACTUALLY fix CPU usage</li>
        </ul>
        <h3>1.4.2</h3>
        <ul>
            <li>move misc section to My Documents</li>
        </ul>
        <h3>1.4.1</h3>
        <ul>
            <li>expanding a project scrolls to it automatically</li>
        </ul>
        <h3>1.4.0</h3>
        <ul>
            <li>new accordion layout</li>
            <li>fix CPU usage...?</li>
        </ul>
        <time>2<sup>nd</sup> September 2025</time>
        <h3>1.3.1</h3>
        <ul>
            <li>PLAY ALL/PAUSE ALL buttons in navbar</li>
            <li>fix CPU usage</li>
        </ul>
        <h3>1.3.0</h3>
        <ul>
            <li>add Witch Academy</li>
            <li>click/tap an entry to fullscreen it</li>
            <li>mobile will always be double-columned</li>
        </ul>
        <time>1<sup>st</sup> September 2025</time>
        <h3>1.2.0</h3>
        <ul>
            <li>add tons more stuff</li>
            <li>fix logos (roborb/reptilian/haunted/rockets/debugdog)</li>
            <li>fix icons (unreal/spine/roblox/luau/typescript)</li>
            <li>convert a bunch of videos to gifs or webms</li>
            <li>layout improvements</li>
        </ul>
        <time>30<sup>th</sup> August 2025</time>
        <h3>1.1.0</h3>
        <ul>
            <li>add WebGPU Shader Editor</li>
            <li>add tinyfox</li>
            <li>fix all links</li>
            <li>fix all favicons</li>
            <li>fix reptilian+rocket icons</li>
            <li>convert some videos to gif</li>
        </ul>
        <time>30<sup>th</sup> August 2025</time>
        <h3>1.0.0</h3>
        <ul>
            <li>initial release</li>
        </ul>
        <time>29<sup>th</sup> August 2025</time>
    </details>
</section>
{% endblock %}
{% block footer %}
{{ super() }}

<a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank"><img class="button"
        src="/img/button-vcss.png" alt="Valid CSS!" /></a>
<a href="https://validator.w3.org/" target="_blank" rel="noreferrer"><img class="button"
        src="/img/button-valid-html40.png" alt="Valid HTML4!" /></a>
<img class="button" src="/img/button-microsoftinternetexplorer.gif" alt="Microsoft Internet Explorer" />
<img class="button" src="/img/button-html_learn_it_today.gif" alt="HTML - Learn It Today!" />
{# <div class="button" style="display:flex;"><a style="margin:auto;" href="colophon/">colophon</a></div> #}
<img class="button" src="/img/button-firefox.gif" alt="Firefox" />
<!-- <button class="win95 button"><span>debug</span></button> -->
<!-- <a class="win95 button" href="atom.xml">atom.xml</a> -->
<!-- <a href="https://validator.w3.org/feed/check.cgi?url=https%3A//www.vulpineonline.com/atom.xml"><img class="button" src="img/button-valid-atom.png" alt="Validate My Atom Feed"></a> -->

<style>
    .winxp-start {
        user-select: none;
        
        padding: 2px 16px 4px 8px;

        font-family: sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 17.6px;
        line-height: normal;


        color: white;
        background-color: #48ac47;
        box-shadow: 3px 5px 4px -1px #8abb8a inset, -4px -3px 4px 0px #287828 inset;
        border: 1px #287828 solid;
        border-radius: 4px 10px 10px 4px / 4px 30px 30px 4px;
        text-shadow: 0px 1px 4px #000000;

        img {
            display: inline flow-root;
            width: 20px;
            height: 20px;
            vertical-align: text-bottom;
            filter: drop-shadow(1px 2px 1px #00000069);
        }
    }

    .winxp-start:hover {
        background-color: #66cc66;
    }
</style>
<button class="winxp-start">
    <img width="20" height="20" src="/img/windowsxp.ico"><span>start</span>
</button>
{% endblock %}