{
    "title": "Inktober 2025",
    "description": "description goes here",
    "date": "2000-01-01",
    "tags": [ "Blender" ]


    
}
{% extends "post.html.j2" %}
{% block content %}
{{ super() }}
<section>
    <p>hehehe</p>
</section>
{% endblock %}

