---
{
    "layout": "portfolio_entry.njk",
    "title": "Reptilian Rising",
    "description": "Tabletop-down strategy game",
    "client": "\"Greg\"",
    "date": "2000-01-01",
    "roles": [ "Technical Art", "UX Design" ],
    "tags": [ "Blender", "Unity", "Maya" ]
}
---

<section class="gallery">
    <figure><img src="img/reptilian-map.png" loading="lazy"></figure>
</section>
<section>
    <aside>
        <p>i want to show more, but the game hasn't released. in fact, since our final delivery milestone, 
            the steam page has actually removed screenshots that were previously there. the game is somehow 
            less released than last i worked on it.</p>
    </aside>
</section>

<a class="biglink" href="https://store.steampowered.com/app/1625460/Reptilian_Rising/" target="_blank" rel="noreferrer">
    <img class="icon96" src="../img/steam-favicon.ico">
    <h4>Reptilian Rising</h4>
    <p>on Steam</p>
    <small style="position: absolute; background-color: #000; transform: rotate(10deg); width: 20ch;top:0px;right:-40px;">we were
        NOT involved with the trailer.</small>
</a>