{
    "title": "Inktober 2025",
    "description": "description goes here",
    "date": "2000-01-01",
    "sections": [
        { "client": "Wendy Brooks & Partners" },
        { "roles": [ "Solo" ] },
        { "tags": [ "Blender" ] },
        { "gallery": [
            { "video": "img/spine-cannonsmaller.webm", },
            { "video": "img/spine-debugdog.mp4", },
            { "img": "img/spine-runloop.gif", },
            { "video": "img/spine-clip.mp4", },
        ]},
    ]
}
{% extends "article.html" %}

{% block content %}
<section>
    <p>hehehe</p>

</section>
{% endblock %}

