{
    "title": "Roborb's Robortdeal",
    "description": "3 days. 4 timezones. 1 dream. <small>0 name ideas.</small>",
    "date": "2025-06-02",
    "tags": [ "Art", "Blender", "Godot" ],
    "image": "img/roborb-2.jpg",
    "icon": "img/0xUlKK.png",

    "client": "",
    "roles": [ "3D Art" ],
}
{% extends "post-project.html.j2" %}
{% block content %}
{{ super() }}

<section>
    <h3>Environment</h3>
    <figure><img src="img/roborb-environment.png" loading="lazy"></figure>
    <figure><img src="img/roborb-ground.png" loading="lazy"></figure>
    <figure><img src="img/roborb-trash.png" loading="lazy"></figure>
</section>


<div class="big">
    <figure><img src="img/roborb-1.jpg" loading="lazy"></figure>
    <figure><img src="img/roborb-2.jpg" loading="lazy"></figure>
</div>

<figure><img src="img/roborb-forcepush.png" loading="lazy"></figure>

<a class="big" href="https://black-cat-software.itch.io/roborbs-robortdeal-directors-cut" target="_blank" rel="noreferrer">
    <img src="{{ icon }}" class="favicon">
    <span>Roborb's Robortdeal</span>
    <span>on itch.io</span>
</a>

    

{% endblock %}
